<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 수정 (Product Modify)</title>
</head>
<body>
    <h1>Product Modify</h1>
    <!-- 상품 데이터 출력 -->
    <form>
        <p>
            <input type="text" name="pno" th:value="${dto.pno}">
        </p>
        <p>
            <input type="text" name="pname" th:value="${dto.pname}">
        </p>

    </form>
    
    <!-- Axios 이미지 불러와서 출력 -->
    <!-- todo -> Axios로 호출할 URL 기능 개발 필요 -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        // step2.5-------------
        // 등록과정과 유사 - 첨부 파일수정/ 상품 데이터 수정
        // post방식으로 submit -> 등록과 동일

        const pno = [[${dto.pno}]]

        const loadImages = () => {

            axios.get(`http://localhost:8080/product/images/${pno}`)
            .then(res => {
                const arr = res.data
                console.log(arr)
            })
        }

        loadImages()

    </script>
</body>
</html>